@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito&family=Raleway&display=swap');

/* 
font-family: 'Anton', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #080f27;
    color: rgb(247, 247, 247);
    padding: 15px 30px;
    font-family: 'Anton', sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
    color: white;
    background-image: linear-gradient(25deg,rgb(214, 52, 30),orange);
    padding: 10px 40px;
    margin: 20px 0px;
    border-radius: 40px;
    font-family: 'Nunito', sans-serif;
}

.flex{
    display: flex;
}

header{
    margin:10px 0;
    justify-content: center;
    align-items: center;
    /* margin: 50px; */
    
    
}

header div{
    justify-content: center;
    align-items: center;
}

.bn-clr{
    color: rgb(255, 94, 1);
}

header #bn-top img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}

.bn-text{
    font-size: 40px;
}

#bn{
    margin: 100px 0;
}
#bn #left{
    margin-left: 40px;
    width: 70%;
}

#bn #left .lg-text{
    font-size: 60px;
    margin-top: 60px;
}
.sm-text{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}
#bn #right img{
    width: 80%;
}

#about-me{
    background-image:  linear-gradient(155deg, rgba(255, 255, 255, 0.089), transparent);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .1), inset 0 0 0 2px rgba(255, 255, 255, 0.1); 
    border-radius: 0.25rem;
}

#about-me div{
    width: 50%;
}

#me-left{
    margin-left: 40px;
}

#me-right{
    margin-top: 200px;
}
.me-top{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
.me-text{
    margin: 50px 0;
    width: 650px;
    text-align: justify;
}